@charset "UTF-8";

html {
    background-color: #fff;
}

body {
    @extend %responsive-selector-type;
    font: $font-size $font-main;
    line-height: $line-height;
    letter-spacing: $letter-spacing-base;
    color: $color-main;
    accent-color: $color-hl;
}

@media ($mobile_only) {
    body {
        font-size: $font-size-mobile;
    }
}

/* ----------------------------------------------------------
  Links
---------------------------------------------------------- */

%main-link,
a {
    color: $color-main;
}

%main-link:hover,
%main-link:focus,
a:focus,
a:hover {
    color: darken($color-main,20);
}

%main-link:active,
a:active {
    color: darken($color-hl,20);
}

/* ----------------------------------------------------------
  Animations
---------------------------------------------------------- */

[data-hasscrollanim] {
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateZ(0);
}

[data-hasscrollanim][data-active] {
    opacity: 0.9999;
}

/* ----------------------------------------------------------
  Base
---------------------------------------------------------- */

.cc-process,
.cc-about,
.contact-content,
.cc-error-404,
.projects-list {
    p a {
        display: inline-block;
        z-index: 1;
        position: relative;
        vertical-align: 0;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    p a:after {
        content: '';
        z-index: 1;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        height: 1px;
        margin: -3px 0 0;
        border-bottom: 1px solid;
        opacity: 0;
        -webkit-transition: margin 0.3s ease,opacity 0.3s ease;
        transition: margin 0.3s ease,opacity 0.3s ease;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        filter: alpha(opacity=0);
    }
}

.cc-process p a:after,
.cc-about p a:after,
.contact-content p a:after,
.cc-error-404 p a:after,
.projects-list:hover p a:after {
    margin-top: -1px;
    opacity: 0.10;
}

.cc-process:hover p a:after,
.cc-about:hover p a:after,
.contact-content p a:after,
.cc-error-404 p a:after,
.projects-list p:hover a:after {
    opacity: 0.35;
}

.cc-process,
.contact-content,
.cc-error-404,
.projects-list,
.cc-about {
    a:focus,
    a:hover {
        color: $color-hl;
    }
}

/* Icons
-------------------------- */

.icon,
.icon:before {
    display: inline-block;
    overflow: hidden;
    vertical-align: 0;
}

.icon_twitter:before {
    width: 1.3em;
    vertical-align: -0.15em;
}

/* ----------------------------------------------------------
  Margins
---------------------------------------------------------- */

.fixed-header-wrapper {
    margin-bottom: 10em;
}

.main-sep {
    margin: 10em auto;
}

.cc-footer {
    margin-top: 10em;
}

@media ($mobile_only) {
    .fixed-header-wrapper {
        margin-bottom: 4em;
    }

    .main-sep {
        margin: 4em auto;
    }

    .cc-footer {
        margin-top: 4em;
    }
}

/* ----------------------------------------------------------
  Global
---------------------------------------------------------- */

/* Text
-------------------------- */

p,
li {
    font-size: 1em;
    line-height: 1.5;
}

h2,
h3 {
    margin: 0;
    text-transform: uppercase;
    font-family: $font-second;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.1em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

/* Separator
-------------------------- */

.main-sep {
    z-index: 1;
    position: relative;
    max-width: $content_width_wide;
    border: 1px solid $color-border;
    border-width: 1px 0 0;
}

.main-sep:before {
    content: '';
    z-index: 1;
    position: absolute;
    top: -6px;
    right: 0;
    left: 0;
    width: 10px;
    height: 10px;
    margin: auto;
    border: 1px solid $color-border;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    transform-origin: center center;
}

.main-sep.is-active:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* Section
-------------------------- */

.section-header {
    z-index: 1;
    position: relative;
    margin: 0 0 3em;
    padding-bottom: 2em;
    text-align: center;
}

.section-header:before {
    content: '';
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 2em;
    height: 2px;
    margin: auto;
    background-color: $color-border;
}

.section-title {
    margin: 0 0 0.5em;
    text-transform: uppercase;
    font-family: $font-second;
    font-weight: normal;
    line-height: 1;
    color: #333;
}

.section-header .section-title,
.section-header p {
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

.section-header[data-active] .section-title {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.section-header[data-active] .section-title,
.section-header[data-active] p {
    opacity: 0.9999;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
}
