@font-face {
	font-family: "icons";
	src: url('../../assets/fonts/icons/icons.eot?1674996625');
	src: url('../../assets/fonts/icons/icons.eot?1674996625#iefix') format('eot'),
		url('../../assets/fonts/icons/icons.woff2?1674996625') format('woff2'),
		url('../../assets/fonts/icons/icons.woff?1674996625') format('woff'),
		url('../../assets/fonts/icons/icons.ttf?1674996625') format('truetype'),
		url('../../assets/fonts/icons/icons.svg?1674996625#icons') format('svg');
}

.icon:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon_blog:before {
	content: "\E001";
}

.icon_chain:before {
	content: "\E002";
}

.icon_github:before {
	content: "\E003";
}

.icon_instagram:before {
	content: "\E004";
}

.icon_linkedin:before {
	content: "\E005";
}

.icon_lock:before {
	content: "\E006";
}

.icon_magento:before {
	content: "\E007";
}

.icon_mastodon:before {
	content: "\E008";
}

.icon_tools:before {
	content: "\E009";
}

.icon_twitter:before {
	content: "\E00A";
}

.icon_wordpress:before {
	content: "\E00B";
}
