
<!-- Flouteur -->
<footer class="centered-container cc-footer">
    <div class="footer">
        <p>
            &copy; <span id="current-year">{{ site.time | date: '%Y' }}</span>
            <a target="_blank" href="http://www.rocher-dev.com">Rocher DEV</a>
            &mdash;
            {{ site.name }} <span class="mobile-hide">-</span>
            <strong>{{ site.description }}</strong>
        </p>
        <blockquote>
            <q id="footer-quote" data-hasscrollanim="1" data-offset="30" data-taptext="{{ site.footerQuote }}"></q>
            <cite data-delay="1800" data-hasscrollanim="1" data-offset="30">{{ site.footerQuoteAuthor }}</cite>
        </blockquote>
    </div>
</footer>
