
<!-- Flouteur -->
<footer class="centered-container cc-footer">
    <div class="footer">
        <p>
            &copy; {{ site.time | date: '%Y' }}
            <a target="_blank" href="http://www.rocher-dev.com">Rocher DEV</a>
            &mdash;
            {{ site.name }} -
            <strong>{{ site.description }}</strong><br />
        </p>
        <blockquote>
            <q id="footer-quote" class="has-scrollanim" data-offset="30" data-taptext="{{ site.footerQuote }}"></q>
            <cite data-delay="1800" class="has-scrollanim" data-offset="30">{{ site.footerQuoteAuthor }}</cite>
        </blockquote>
    </div>
</footer>