<!DOCTYPE html>
<!--[if lt IE 8 ]><html dir="ltr" lang="fr-FR" class="is_ie7 lt_ie8 lt_ie9 lt_ie10"><![endif]-->
<!--[if IE 8 ]><html dir="ltr" lang="fr-FR" class="is_ie8 lt_ie9 lt_ie10"><![endif]-->
<!--[if IE 9 ]><html dir="ltr" lang="fr-FR" class="is_ie9 lt_ie10"><![endif]-->
<!--[if gt IE 9]><html dir="ltr" lang="fr-FR" class="is_ie10"><![endif]-->
<!--[if !IE]><!--><html dir="ltr" lang="fr-FR"><!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} — {% endif %}{{ site.name }} | {{ site.long_description }}</title>
{% if site.destination == '_dev' %}
    {% for css in site.css_assets %}<link href="{{ css }}" rel="stylesheet" type="text/css" />{% endfor %}
    {% for js in site.js_assets %}<script src="{{ js }}"></script>{% endfor %}
{% else %}
    <link href="assets/css/main.{{ site.time | date: '%Y%m%d%H%M%S' }}.css" rel="stylesheet" />
    <script src="assets/js/main.{{ site.time | date: '%Y%m%d%H%M%S' }}.js"></script>
{% endif %}
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="{{ site.long_description }}" />
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ site.name }}" />
    <meta property="og:url" content="{{ site.prod_url }}" />
    <meta property="og:image" content="{{ site.prod_url }}assets/images/content/cover2.jpg" />
</head>
<body data-nojs="1" class="cssc-is-responsive">
