[submodule "src/scss/csscommon"]
	path = src/scss/csscommon
	url = https://github.com/Darklg/SassCSSCommon.git
[submodule "src/js/vanillaScrollAnims"]
	path = src/js/vanillaScrollAnims
	url = https://github.com/JavaScriptUtilities/vanillaScrollAnims.git
