<div class="centered-container cc-about">
    <div class="about">
        <div class="about-content">
            <div class="hellomynameiskevin">
                <img data-hasscrollanim="1" data-delay="600" src="assets/images/content/developpeur-front-end-freelance.jpg" alt="#{locals.site_data.name} - #{locals.site_data.description}" />
            </div>
            <p data-hasscrollanim="1" data-delay="700">
                | Je suis Freelance à Paris depuis 2014,
                | et j’accompagne mes clients sur leurs projets de <strong>développement front-end</strong>,
                | de développement de thèmes et plugins pour <strong>WordPress</strong>,
                | ainsi qu'en intégration <strong>Magento</strong>, <strong>Shopify</strong> &amp; <strong>Sylius</strong>.
            </p>
            <p data-hasscrollanim="1" data-delay="800">
                | J’ai aussi travaillé chez <a rel="noopener" target="_blank" href="https://www.colorz.fr/">Colorz</a>
                | et <a rel="noopener" target="_blank" href="https://www.cornelius-communication.com/">Cornélius Communication</a>,
                | après une formation autodidacte.
            </p>
        </div>
    </div>
</div>
