<section class="centered-container cc-process">
    <div class="process">
        <header class="section-header">
            <h2 class="section-title">Méthodologie</h2>
            <p>Voici comment je travaille.</p>
        </header>
        <p>
            | Jour après jour, je travaille sur des outils <strong>open-source</strong>
            | que je partage sur <a href="https://github.com/Darklg" target="_blank">GitHub</a>.
        </p>
        <p>
            | Ils sont améliorés à chaque projet,
            | pour que ma prestation se concentre uniquement sur la création de <strong>valeur ajoutée</strong>,
            | et que mes clients bénéficient de la meilleure <strong>qualité</strong> possible.
        </p>
        <p>
            | J'ai également créé des processus complets et j'en partage certains,
            | tels que ma <a href="https://darklg.me/methodologie-integration-web-front-end/" target="_blank">méthodologie d'intégration</a>.<br />
        </p>
        <p>
            | Mon crédo est simple : <strong>la qualité par l'automatisation</strong>.
        </p>
    </div>
</section>
