@charset "UTF-8";

/* ----------------------------------------------------------
  Config
---------------------------------------------------------- */

$content_width_wide: 600px;
$content_width: 0px;

/* Fonts
-------------------------- */

$font-main: 'Open Sans', Helvetica, Arial, sans-serif;
$font-second: 'Muli', Helvetica, Arial, sans-serif;

/* Basic colors
-------------------------- */

$color-main: #333333;
$color-border: #CCC;
$color-hl: #336699;
$color-fb: #3B5998;
$color-twitter: #00ACED;
$color-gplus: #DD4B39;

/* Breakpoints
-------------------------- */

$mini: 380px;
$mobile-max: 599px;
$tablet-min: 600px;
$tablet-max: 1299px;
$desktop-min: 1300px;
$desktop-max: 1599px;
$large-min: 1600px;

$mobile_only: "max-width:"+$mobile-max;
$mobile_excluded: "min-width:"+$tablet-min;
$desktop_excluded: "max-width:"+$tablet-max;
$desktop_only: "min-width:"+$desktop-min;
$large_excluded: "max-width:"+$desktop-max;
$large_only: "min-width:"+$large-min;

/* ----------------------------------------------------------
  CSSCommon
---------------------------------------------------------- */

@import "csscommon/components/default";
@import "csscommon/components/common";
@import "csscommon/components/grid";
@import "csscommon/components/layouts";
@import "csscommon/components/print";
@import "csscommon/components/effects";

/* ----------------------------------------------------------
  Front-End
---------------------------------------------------------- */

@import "frontend/icons";
@import "frontend/fonts";
@import "frontend/forms";
@import "frontend/base";
@import "frontend/base/header";
@import "frontend/base/about";
@import "frontend/base/projects";
@import "frontend/base/skills";
@import "frontend/base/clients";
@import "frontend/base/contact";
@import "frontend/base/footer";

