@charset "UTF-8";

/* ----------------------------------------------------------
  Header
---------------------------------------------------------- */

.main-header {
    z-index: 1;
    position: relative;
    height: 30vh;
    min-height: 300px;
    overflow: hidden;
    font-family: $font-second;
    background: #369 url(../images/content/cover2.jpg) no-repeat center 45%;
    background-size: cover;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.main-header .cover {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0.1;
    background-color: #000;
}

.main-title {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 5em;
    margin: auto;
    max-width: 90%;
    text-align: center;
    text-shadow: 0 0 10px rgba(#000,0.75);
    font-size: 1.4em;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 0.05em;
    color: #DDD;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.main-title strong {
    display: inline-block;
    margin-bottom: 0.1em;
    text-transform: uppercase;
    font: inherit;font-weight: bold;
    font-size: 3em;
    letter-spacing: 0;
    color: #fff;
}

.main-title .icons {
    & {
        display: inline-block;
        margin-top: 1.3em;
        font-size: 1.2em;
        vertical-align: top;
        color: #fff;
    }

    i + i {
        margin-left: 0.55em;
    }

    i {
        height: 1.4em;
        opacity: 0;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        -webkit-transform: translate3d(0,10px,0);
        transform: translate3d(0,10px,0);
    }

    i:before {
        padding: 0.3em;
    }

    i[data-active] {
        opacity: 0.999;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

@media ($desktop_excluded) {
    .main-title {
        font-size: 1.4em;
    }
}

@media ($mobile_only) {
    .main-title {
        font-size: 1.2em;
    }
}

@media ($tiny_only) {
    .main-title {
        font-size: 1em;
    }

    .main-title strong {
        font-size: 3em;
    }
}

/* ----------------------------------------------------------
  Fixed header
---------------------------------------------------------- */

.fixed-header-wrapper {
    z-index: 3;
    position: relative;
    height: 3em;
}

.fixed-header {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 3em;
    margin: auto;
    padding: 0 1em;
    border-bottom: 1px solid rgba($color-border,0.5);
    line-height: 3;
    color: #333;
    background-color: #FFF;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

[data-hiddenheader="1"] .fixed-header {
    position: fixed;
}

.fixed-header .main-links {
    & {
        text-align: center;
    }

    a + a {
        margin-left: 3em;
    }

    a {
        color: #999;
    }

    a[data-current=current] {
        color: #000;
    }

    &.main-links a:hover {
        color: #369;
    }
}

@media ($desktopmid_excluded) {
    .fixed-header .main-links a + a {
        margin-left: 2em;
    }
}

@media ($desktop_excluded) {
    .fixed-header .main-links a + a {
        margin-left: 1em;
    }
}

.toggle-menu {
    display: none;
}

@media ($mobile_only) {
    .fixed-header {
        padding: 0;
        text-align: center;
    }

    .toggle-menu:before,
    .toggle-menu:after {
        content: '☰';
        margin: 0 1em;
        color: #F0F0F0;
    }

    .toggle-menu {
        display: block;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    .fixed-header .main-links {
        z-index: 1;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        margin: auto;
        max-height: 0;
        border-bottom: 1px solid rgba($color-border,0.5);
        overflow: hidden;
        opacity: 0;
        background-color: #fff;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .has-main-menu-open .fixed-header .main-links {
        max-height: 350px;
        opacity: 0.9999;
    }

    .fixed-header .main-links a {
        display: block;
        border-top: 1px solid rgba($color-border,0.5);
    }

    .fixed-header .main-links a + a {
        margin-left: 0;
    }
}
