@charset "UTF-8";

/* ----------------------------------------------------------
  Clients
---------------------------------------------------------- */

.clients-list {
    text-align: center;
}

.clients-list > * {
    display: inline-block;
    width: 33.333%;
    vertical-align: top;
}

.clients-list li {
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
}

.clients-list li[data-active] {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.clients-list li a {
    display: block;
    height: 4em;
    margin-bottom: 3em;
    line-height: 4;
}

.clients-list li img {
    max-height: 4em;
    max-width: 70%;
    vertical-align: middle;
}

.clients-list li .logo-maestrooo {
    margin-top: 0.3em;
    max-width: 8em;
}

@media($mobile_only) {
    .clients-list > * {
        width: 50%;
    }
}

@media(max-width:$mini) {
    .clients-list li a {
        display: block;
        margin: 0 auto 2em;
        max-width: 150px;
    }
}
