@charset "UTF-8";

/* ----------------------------------------------------------
  Contact
---------------------------------------------------------- */

.cc-contact .contact {
    text-align: center;
}

.contact-content p {
    margin: 2em auto;
}

.contact-grid {
    margin: 3em auto;
}

.social-networks li {
    display: inline-block;
    font-size: 1.5em;
    vertical-align: bottom;
}

.social-networks li + li {
    margin-left: 0.5em;
}

.social-networks a:hover,
.social-networks a:focus {
    color: $color-hl;
}

.cc-contact .social-desc {
    margin-bottom: 0.5em;
}

.contact-content p a {
    color: $color-hl;
}

.contact-content p a:hover,
.contact-content p a:focus {
    color: $color-main;
}

.contact-avatar img {
    text-align: center;
}

@media($mobile_only) {
    .contact-content p {
        margin: 1em auto;
    }

    .contact-grid {
        margin-bottom: 0;
    }

    .contact-grid > * {
        width: 100%;
        margin: 0 0 2em;
    }

    .contact-content p a {
        font-size: 1.2em;
    }

    .social-networks li {
        font-size: 2em;
    }
}