@charset "UTF-8";

/* ----------------------------------------------------------
  Projects
---------------------------------------------------------- */

/* Sections
-------------------------- */

.cc-projects h3 {
    margin: 0 0 1em;
    text-align: center;
}

.cc-projects * + h3 {
    margin-top: 4em;
}

.cc-projects h3:before,
.cc-projects h3:after {
    content: '•';
    margin: 0 0.5em;
    font-size: 0.5em;
    line-height: 2em;
    vertical-align: 0.3em;
    color: $color-border;
}

.projects-list {
    margin-top: 2em;
}

@media($mobile_only) {
    .cc-projects * + h3 {
        margin-top: 2.5em;
    }
}

/* List
-------------------------- */

.projects-list h4 {
    margin: 0;
    font: inherit;
    font-family: $font-main;
}

.projects-list li {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
}

.projects-list li[data-active] {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.projects-list li + li h4 {
    margin-top: 1em;
}

.projects-list h4 a {
    display: inline;
    z-index: 1;
    position: relative;
    font-weight: bold;
    vertical-align: 0;
}

.projects-list h4 a:before {
    @extend .icon;
    @extend .icon_chain;
    z-index: 1;
    position: absolute;
    top: 5px;
    right: 100%;
    color: $color-hl;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.projects-list h4.nda a:before {
    @extend .icon_lock;
    top: 3px;
}

.projects-list h4 a:hover:before {
    margin-right: 5px;
    opacity: 0.80;
}

.projects-list time {
    font-size: 0.8em;
    line-height: inherit;
}

.projects-list time:before {
    content: '•';
    margin: 0 6px 0 3px;
    font-size: 0.8em;
    color: $color-border;
}

.projects-list p {
    text-align: justify;
    color: lighten($color-main,30);
}
