extends layouts/layout.pug
block content
  <!-- About : Who / Where / What -->
  include parts/home/about.pug

  <!-- Projects -->
  <hr class="main-sep" id="projects" />
  include parts/home/projects.pug

  <!-- Skills -->
  <hr class="main-sep" id="process" />
  include parts/home/process.pug

  <!-- Skills -->
  <hr class="main-sep" id="skills" />
  include parts/home/skills.pug

  <!-- Clients -->
  <hr class="main-sep" id="clients" />
  include parts/home/clients.pug

  <!-- Contact -->
  <hr class="main-sep" id="contact" />
  include parts/home/contact.pug

