<div class="centered-container cc-about">
    <div class="about">
        <p>
            Je suis Freelance à Paris depuis 2014,
            et j'accompagne mes clients sur leurs projets de <strong>Développement Front-End</strong>,
            de Développement de thèmes et plugins pour <strong>WordPress</strong>,
            ainsi qu'en Intégration <strong>Magento</strong>.
        </p>
        <p>
            J'ai précédemment travaillé chez <a target="_blank" href="http://www.colorz.fr/">Colorz</a>
            et <a target="_blank" href="http://www.cornelius-communication.com/">Cornélius Communication</a>,
            après une formation autodidacte.
        </p>
    </div>
</div>