<section class="centered-container cc-clients">
    <div class="clients">
        <header class="section-header">
            <h2 class="section-title">Clients</h2>
            <p>J'ai la chance de travailler<br class="desktop-hide" /> avec ces sociétés.</p>
        </header>
        <ul class="clients-list">
            <li>
                <a target="_blank" title="Colorz" href="http://www.colorz.fr/"><img src="assets/images/logos-min/colorz.svg" alt="Colorz" /></a>
            </li><!--
             --><li>
                <a target="_blank" title="Soon by Kaliop" href="http://www.agence-soon.fr/"><img src="assets/images/logos-min/soon.svg" alt="Soon" /></a>
            </li><!--
             --><li>
                <a target="_blank" title="Nouveau Numéro" href="http://nouveaunumero.com/"><img src="assets/images/logos-min/nouveau-numero.svg" alt="Nouveau Numéro" /></a>
            </li><!--
             --><li>
                <a target="_blank" title="Starloo Graphic" href="http://starloographic.com/"><img src="assets/images/logos-min/starloo.svg" alt="Starloo" /></a>
            </li><!--
            --><li>
                <a target="_blank" title="Cafffeine" href="http://www.cafffeine.com/"><img class="logo-cafffeine" src="assets/images/logos-min/cafffeine.svg" alt="Cafffeine" /></a>
            </li><!--
            --><li>
                <a target="_blank" title="Maestrooo" href="http://maestrooo.com/">Maestrooo</a>
            </li>
        </ul>
    </div>
</section>