<section class="centered-container cc-clients">
    <div class="clients">
        <header class="section-header">
            <h2 class="section-title">Clients</h2>
            <p>J'ai la chance de travailler<br class="desktop-hide" /> avec ces sociétés.</p>
        </header>
        <ul class="clients-list">
            {% assign counter = 0 %}
            {% for client in site.clients %}<li data-delay="{{ counter }}">
                <a target="_blank" title="{{ client.name }}" href="{{ client.url }}"><img src="assets/images/logos-min/{{ client.id }}.svg" alt="{{ client.name }}" /></a>
            </li>{% assign counter = counter | plus:50 %}{% endfor %}
        </ul>
    </div>
</section>