<section class="centered-container cc-clients">
    <div class="clients">
        <header class="section-header">
            <h2 class="section-title">Clients</h2>
            <p>J'ai la chance de travailler<br class="desktop-hide" /> avec ces sociétés.</p>
        </header>
        <ul class="clients-list" data-usechildren="1" data-delay="100">
            {% for client in site.clients %}<li>
                <a target="_blank" title="{{ client.name }}" href="{{ client.url }}"><img src="assets/images/logos/{{ client.id }}.svg" alt="{{ client.name }}" /></a>
            </li>{% endfor %}
        </ul>
    </div>
</section>
