<section class="centered-container cc-contact">
    <div class="contact">
        <header class="section-header">
            <h2 class="section-title">Me contacter</h2>
            <p>Et si on travaillait ensemble ?</p>
        </header>
        <div class="contact-content">
            <p>
                <strong>Ecrivez-moi</strong><br />
                <a class="email" href="mailto:{{ site.email }}" title="Cliquer sur ce lien est une bonne idée.">{{ site.email }}</a>
            </p>
            <div class="cssc-grid fluid-grid contact-grid">
                <div class="col-50p">
                    <p>
                        {{ site.availabilityLabel }}<br />
                        <strong>{{ site.availability }}</strong>
                    </p>
                </div>
                <div class="col-50p">
                    <p class="social-desc">Je raconte ma vie par ici</p>
                    <ul class="social-networks">
                        {% assign counter = 500 %}
                        {% for network in site.social_networks %}
                        <li data-delay="{{ counter }}">
                            <a target="_blank" class="icon icon_{{ network.id }}" href="{{ network.url }}" title="{{ network.site }}"></a>
                        </li>
                        {% assign counter = counter | minus:100 %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <p class="contact-avatar">
                <img width="150" height="150" data-hasscrollanim="1" data-delay="100" src="assets/images/content/kevin-rocher-developpeur-front-end-freelance.jpg" alt="{{ site.name }} {{ site.description }}" />
            </p>
        </div>
    </div>
</section>
