<section class="centered-container cc-projects">
    <div class="projects">
        <header class="section-header">
            <h2 class="section-title">Projets</h2>
            <p>Une sélection de projets sur lesquels<br class="desktop-hide" /> j'ai pu intervenir.</p>
        </header>
        <h3>Freelance</h3>
        <ol class="projects-list" data-usechildren="1" data-delay="200">
            <li>
                <h4>
                    <a target="_blank" href="https://www.beauxarts.com">Beaux Arts Magazine</a>
                    <time datetime="2017">2017</time>
                </h4>
                <p>
                    Développement Back-End d’un WordPress/WooCommerce avec gestion de flux et interfaçage d’API eBooks &amp; abonnement, pour ce magazine en ligne réalisé pour
                    <a target="_blank" href="https://www.upian.com/">l’agence Upian</a>.
                </p>
            </li>
            <li>
                <h4>
                    <a target="_blank" href="http://www.heyraud.fr">Heyraud</a>
                    <time datetime="2016">2016</time>
                </h4>
                <p>
                    Développement Front-End Responsive de ce e-commerce sous Magento, réalisé pour
                    <a target="_blank" href="http://www.agence-soon.fr/">l'agence Soon</a>.
                </p>
            </li>
            <li>
                <h4>
                    <a target="_blank" href="http://ilkflottante.com">Ilk Flottante</a>
                    <time datetime="2015">2015</time>
                </h4>
                <p>Développement WordPress responsive du portfolio et Intégration sur Big Cartel du shop de l'artiste &amp; webdesigner Ilk.</p>
            </li>
            <li>
                <h4>
                    <a target="_blank" href="http://nacachedesign.com">Nacache Design</a>
                    <time datetime="2015">2015</time>
                </h4>
                <p>Développement WordPress full-AJAX, avec des pages projets animées, pour le webdesigner Alexandre Nacache.</p>
            </li>
            <li>
                <h4>
                    <a target="_blank" href="http://www.harmony-paris.com">Harmony Paris</a>
                    <time datetime="2014">2014</time>
                </h4>
                <p>
                    Développement Front-End d'un Magento responsive, pour cette marque parisienne de vêtements, en collaboration avec
                    <a target="_blank" href="http://www.renaudgouffe.fr/">Renaud Gouffé</a>
                    pour le back-end.
                </p>
            </li>
            <li>
                <h4>
                    <a target="_blank" href="http://www.lafermedecharles.fr/">La Ferme de Charles</a>
                    <time datetime="2013">2013</time>
                </h4>
                <p>
                    Développement WordPress du site de ce restaurant, en collaboration avec
                    <a target="_blank" href="http://www.floriancasanova.com/">Florian Casanova</a>
                    pour le design.
                </p>
            </li>
            <li>
                <h4>
                    <a target="_blank" href="http://souslechatquibane.com">Sous le chat qui bane</a>
                    <time datetime="2013">2013</time>
                </h4>
                <p>
                    Développement WordPress full-AJAX, avec player vidéo custom, en collaboration avec
                    <a target="_blank" href="http://www.floriancasanova.com/">Florian Casanova</a>
                    pour le design.
                </p>
            </li>
        </ol>
        <h3>Agence</h3>
        <ol class="projects-list" data-usechildren="1" data-delay="200">
            <li>
                <h4>
                    <a target="_blank" href="http://hartford.fr">Hartford</a>
                    <time datetime="2014">2014</time>
                </h4>
                <p>
                    Développement Front-End Desktop et Mobile de ce e-commerce sous Magento, réalisé en équipe au sein de
                    <a target="_blank" href="http://www.colorz.fr/">l'agence Colorz</a>.
                </p>
            </li>
            <li>
                <h4>
                    <a target="_blank" href="http://colette.fr">colette</a>
                    <time datetime="2014">2014</time>
                </h4>
                <p>
                    Développement Front-End Desktop et Mobile pour la célèbre marque colette, sous Magento, réalisé en équipe au sein de
                    <a target="_blank" href="http://www.colorz.fr/">l'agence Colorz</a>.
                </p>
            </li>
            <li>
                <h4>
                    <a target="_blank" href="http://fubiz.net">Fubiz</a>
                    <time datetime="2012">2012</time>
                </h4>
                <p>
                    Intégration WordPress réalisée en équipe au sein de
                    <a target="_blank" href="http://www.colorz.fr/">l'agence Colorz</a>.
                </p>
            </li>
        </ol>
        <h3>Side-projects</h3>
        <ol class="projects-list" data-usechildren="1" data-delay="200">
            <li>
                <h4>
                    <a target="_blank" href="http://csslisible.com">CSSLisible</a>
                </h4>
                <p>Cet outil open-source permet d'ordonner son code CSS et de le rendre plus lisible.</p>
            </li>
            <li>
                <h4>
                    <a target="_blank" href="http://csscommon.com">CSSCommon</a>
                </h4>
                <p>Mon framework CSS, souple, modulaire et léger, utilisé sur tous mes projets.</p>
            </li>
            <li>
                <h4>
                    <a target="_blank" href="https://github.com/WordPressUtilities">WordPress Utilities</a>
                </h4>
                <p>Les plugins WordPress et thème framework, utilisés sur mes projets WordPress.</p>
            </li>
            <li>
                <h4>
                    <a target="_blank" href="https://github.com/Darklg/JavaScriptUtilities">JavaScript Utilities</a>
                </h4>
                <p>Les plugins jQuery, MooTools &amp; Vanilla, utilisés sur la majorité de mes projets.</p>
            </li>
            <li>
                <h4>
                    <a target="_blank" href="https://github.com/InteGento">InteGento</a>
                </h4>
                <p>Les modules et outils utilisés sur la majorité de mes projets Magento.</p>
            </li>
        </ol>
    </div>
</section>
