<section class="centered-container cc-projects">
    <div class="projects">
        <header class="section-header">
            <h2 class="section-title">Projets</h2>
            <p>Quelques projets sur lesquels<br class="desktop-hide" /> j'ai pu intervenir.</p>
        </header>
        {% for projects in site.projects %}
        <h3>{{ projects.name }}</h3>
        {% if projects.pitch %}<p>{{ projects.pitch }}</p>{% endif %}

        <ol class="projects-list" data-usechildren="1" data-delay="200">
            {% for project in projects.list %}<li>
                <h4{% if project.type %} class="{{ project.type }}"{% endif %}>
                    <a{% if project.url %} target="_blank"{% endif %} href="{% if project.url %}{{ project.url }}{% else %}#contact{% endif %}">{{ project.name }}</a>
                    {% if project.year %}<time datetime="{{ project.year }}">{{ project.year }}</time>{% endif %}
                </h4>
                <p>
                    {% if project.type %}[{{ project.type | upcase }}] {% endif %}{{ project.description }}
                </p>
            </li>{% endfor %}
        </ol>
        {% endfor %}
    </div>
</section>
