<section class="centered-container cc-skills">
    <div class="skills">
        <header class="section-header">
            <h2 class="section-title">Compétences</h2>
            <p>Les sujets sur lesquels je vais<br class="desktop-hide" /> pouvoir vous aider.</p>
        </header>
        <ul class="skills-list">
            <li>Intégration HTML5 / CSS3</li>
            <li>Développement Front-End</li>
            <li>Création de thèmes WordPress</li>
            <li>Développement de plugins WordPress</li>
            <li>Intégration de thèmes Magento</li>
            <li>Intégration et envoi de newsletters</li>
            <li>Webperf</li>
            <li>Accessibilité</li>
            <li>SEO</li>
            <li>Responsive</li>
            <li title="Je fais une excellente imitation.">Joe Dassin</li>
            <li>JavaScript</li>
            <li>jQuery</li>
            <li>AJAX</li>
            <li>PHP</li>
            <li>MySQL</li>
            <li>Git</li>
        </ul>
    </div>
</section>