<section class="centered-container cc-skills">
    <div class="skills">
        <header class="section-header">
            <h2 class="section-title">Compétences</h2>
            <p>Les sujets sur lesquels je vais<br class="desktop-hide" /> pouvoir vous aider.</p>
        </header>
        <ul class="skills-list">
        {% assign counter = 0 %}
        {% for skill in site.skills %}<li data-delay="{{ counter }}">{{ skill }}</li>{% assign counter = counter | plus:50 %}
        {% endfor %}
        </ul>
    </div>
</section>