---
layout: default
---

<!-- About : Who / Where / What -->
{% include home/about.html %}

<!-- Projects -->
<hr class="main-sep" id="projects" />
{% include home/projects.html %}

<!-- Skills -->
<hr class="main-sep" id="process" />
{% include home/process.html %}

<!-- Skills -->
<hr class="main-sep" id="skills" />
{% include home/skills.html %}

<!-- Clients -->
<hr class="main-sep" id="clients" />
{% include home/clients.html %}

<!-- Contact -->
<hr class="main-sep" id="contact" />
{% include home/contact.html %}
